accelerate==0.20.3
bitsandbytes==0.41.1
datasets==2.14.6
torch==2.0.1
deepspeed==0.12.3
faiss-gpu==1.7.2
gpustat==1.1.1
huggingface-hub==0.17.3
ipykernel==6.26.0
ipython==8.12.0
ipython-genutils==0.2.0
ipywidgets==8.1.1
jupyter==1.0.0
jupyter-client==8.5.0
jupyter-core==5.5.0
jupyter-events==0.8.0
jupyter-lsp==2.2.0
jupyter-server==2.9.1
jupyter-server-terminals==0.4.4
jupyterlab==4.0.7
jupyterlab-pygments==0.2.2
jupyterlab-server==2.25.0
jupyterlab-widgets==3.0.9
ninja==1.11.1.1
nltk==3.8.1
notebook==6.4.12
notebook-shim==0.2.3
numpy==1.24.4
pytorch-pretrained-bert==0.6.2
pytorch-ranger==0.1.1
safetensors==0.4.0
tensorboard==2.14.0
tokenizers==0.14.1
torch-optimizer==0.3.0
torchtyping==0.1.4
tqdm==4.66.1
transformers==4.34.1
peft==0.10.0
scipy==1.10.1